@valid-color: #468847;
@invalid-color: #923a3a;


input:valid {
    background-color: @valid-color;
    border: 1px solid @valid-color;
}
input:invalid  {
    background-color:  @invalid-color;
    border: 1px solid  @invalid-color;
}
.invalid-feedback {
    color: @invalid-color;
}

.alert {
  display: none;
}


// add margin around input items
.form-group{
    margin-bottom:50px;
    margin-top:50px;
}

.error {
  color: #e74c3c;
}

label{
  text-align: right;
}