{% extends "base_message.html" %}

{% load widget_tweaks %}
{% load static %}


{% block stylesheets %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock stylesheets %}

{% block content %}


    <form id="EditForm" method="post" action="{% url 'msg:create'%}" class="form-horizontal form-label-left" novalidate>
        {% csrf_token %}


        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.message.label }}</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
               {{form.message}}
             </div>
        </div>

        <div class="form-group ln_solid"></div>
            <button id="submit-button" type="submit" name="submit" value="create_message" class="btn btn-success pull-right" >Submit</button>
            <button id="cancel-button"  type="cancel" name="cancel" value="create_message" class="btn btn-primary pull-right" >Cancel</button>
        </div>

    </form>


{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock javascripts %}


