{% extends "base_message.html" %}

{% load custom_filters %}


{% block title %} List messages {% endblock title %}


{% block stylesheets %}
  {{ block.super }}
  <link href="/static/dashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/dashboard/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/dashboard/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/dashboard/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/dashboard/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}



{% block content %}

    <div class="x_panel">
        <div class="x_content">

            <h1>Messages<a href="{% url 'msg:create' %}"> <span class="glyphicon glyphicon-plus"></span></a></h1>

            {% if messages %}

                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Created on</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td><a href="{% url 'msg:edit' pk=message.pk %}">{{message.message}}</a></td>
                            <td><a href="#">{{message.creation_date}}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                No idea has been submitted
            {% endif %}

        </div>
    </div>

{% endblock content%}



{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/dashboard/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/dashboard/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/dashboard/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/dashboard/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/dashboard/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}


{% block extra_javascript %}

$(document).ready(function(){
    $('#list').DataTable();
});

{% endblock %}