/* CSS used here will be applied after bootstrap.css */

.quill_editor { 
    width: 100%;
    height:200px;
    min-height:200px;
    margin-top: inherit;
    margin-bottom: 80px;
    margin-right: 40px auto;
    margin-left: 40px auto;
}

.quill_editor:focus { 
    outline: none;
    border-color: blue;
    box-shadow: blue;
}
